body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color:blueviolet;
}
h2{
    color:antiquewhite;
}
form{
    background-color: white;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    gap:15px;
    align-items: center;
}
input[type="text"] {
  padding: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 250px;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3c82f6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

button:hover {
  background-color: #155ed1;
}